{% extends 'mainview/base.html' %}
{% load static %}

{% block title %}مدارک{% endblock %}

{% block content %}
<style>

#certificateCarousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.5 0L4.78.72 1.5 4l3.28 3.28L5.5 8 0 4z'/%3E%3C/svg%3E");
}


#certificateCarousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.5 0L3.22.72 6.5 4 3.22 7.28 2.5 8 8 4z'/%3E%3C/svg%3E");
}
</style>

<div class="container py-5" style="direction: rtl; text-align: right;">
    <h2 class="text-center mb-5">مدارک من</h2>

    {% if certificates %}
    
    <div id="certificateCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for cert in certificates %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ cert.image.url }}" class="d-block w-100 rounded shadow" alt="{{ cert.title }}">
                <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 rounded p-2">
                    <h5>{{ cert.title }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>

        
        <button class="carousel-control-prev" type="button" data-bs-target="#certificateCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">قبلی</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#certificateCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">بعدی</span>
        </button>

        
        <div class="carousel-indicators-wrapper d-block d-md-none text-center" style="background-color: rgba(44,44,44,0.5); padding: 5px; border-radius: 8px;">
    <div class="carousel-indicators mt-3">
        {% for cert in certificates %}
        <button type="button" 
                data-bs-target="#certificateCarousel" 
                data-bs-slide-to="{{ forloop.counter0 }}" 
                class="{% if forloop.first %}active{% endif %}" 
                aria-current="{% if forloop.first %}true{% endif %}" 
                aria-label="{{ cert.title }}"
                style="background-color: rgba(35, 31, 31, 0.7); border-radius:50%;">
        </button>
        {% endfor %}
    </div>
</div>


    {% endif %}

</div>
{% endblock %}
