{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainview/contact.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="texts">
            <h1 class="header-title">مبین احمدی <br> <span class="text">مهندسی و خلاقیت </span><br> در کنار هم</h1>
            <p class="sub-title">سلام! اگه سوالی داری یا می‌خوای با من همکاری کنی، همین الان پیام بده.
قول می‌دم جواب بدم، مگر اینکه قهوه کافی نخورده باشم ☕😉
</p>
            <div class="media">
                <a href="https://instagram.com/whois_mobin" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://t.me/Only_me_alone" target="_blank"><i class="fa fa-telegram"></i></a>
                <i class="fa fa-envelope"></i>
                <i class="fa fa-mobile"></i>
                <br>
                <a href="mailto:mobin.ahmadi.chem@gmail.com" style="color:rgb(179, 4, 4)">mobin.ahmadi.chem@gmail.com</a>
                <br>
                <a href="tel:+989961599476" style="color:rgb(179, 4, 4)">09961599476</a>
            </div>

        </div>
        <div class="shape"></div>
        <div class="circle" ></div>




    </div>
</body>

</html>